<h1>Videos</h1>

<table class="table table-striped" style="table-layout: fixed">
  <thead>
    <th>#</th>
    <th>Heading</th>
    <th>Link</th>
    <th>Post_id</th>
  </thead>
  <tbody>
    <%= render @videos %>
  </tbody>
</table>
