<h1>Posts</h1>

<table class="table table-striped" style="table-layout: fixed">
  <thead>
    <th>Date</th>
    <th>User</th>
    <th>Title</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
